
@font-face {
  font-family: 'HarmoniaSansProCyr';
  src: url("../fonts/HarmoniaSansProCyr-Regular.woff2") format("woff2"),
    url("../fonts/HarmoniaSansProCyr-Regular.woff") format("woff"),
    url("../fonts/HarmoniaSansProCyr-Regular.ttf") format("ttf"),
    url("../fonts/HarmoniaSansProCyr-Regular.eot") format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
}