@import 'variables','fonts';

*{
  padding: 0;
  margin: 0;

}
body{
color: $mainColor;
font-size: 14px;
font-family: HarmoniaSansProCyr;
}

.container{
  max-width: 800px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 50px 20px 0;

}
.wrapper-table{
  width: 100%;
  overflow-x: scroll;
  position: relative;
  border-right: 1px solid rgba(17,34,62,0.2);
}
.table{
  border: 1px solid rgba(17, 34, 62, 0.07);
  border-spacing: 0;
  width: 100%;
    
    .string{

      &.paint{
        background: $stringBck;
      }
      &.string_header{
        background: $white;
        color: $firstString;
        font-size: 12px;
        .cell_category{
          &.paint{
            background: $white;
          }
        }
        .cell_estimation{
          p{
            max-width: 45px;
            padding-right: 12px;
            position: relative;
            &::after{
              position: absolute;
              content: '';
              right: 0;
              width: 0;
              height: 0;
              border-top: 3px solid $firstString;
              border-left: 3px solid transparent;
              border-right: 3px solid transparent;

            }
          }
          &.paint{
            background: $white;
          }
        }

      }
      &:hover{
        .cell_category .arrow-box .star .star-picture{
          opacity: 1;
        }
      }
    }
    .cell{
    border: 1px solid rgba(17, 34, 62, 0.07);
    padding: 15px;
    box-sizing: border-box;
    position: relative;

  }
/*   .cell-category_empty{
    width: 285px;
    height: 52px;
  }
  .cell-estimation_empty{
    width: 89px;
    height: 52px;
  } */
    .cell_category{
    border: 1px solid rgba(17, 34, 62, 0.2);
    min-width: 285px;
    text-align: left;
    font-weight: normal;
    position: sticky;
    left: 0;
    background: #fff;
    z-index: 1;

      .check-field{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: $checkboxDisabled;
        float: left;
        margin-right: 20px;
    
        &.check-field_active{
          background: $checkboxActive;
          position: relative;
          &::before{
            position: absolute;
            content: '';
            width: 70%;
            height: 70%;
            background-image: url(../images/check-white.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
      .name-category{
        float: left;
        padding-right: 20px;
      }
      .arrow-box{
        position: relative;
        margin-left: auto;
        width: 10px;
        height: 10px;
        display: block;
        margin-top: 4px;

        .arrow-picture{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          cursor: pointer;
          transition: all 0.5s;
          &.arrow-picture_active{
              transform: rotate(90deg);
              transform-origin: center;
              transition: all 0.5s;
          }
        }
        .star{
        position: absolute;
        width: 14px;
        height: 14px;
        left: -20px;
        top: -2px;
        cursor: pointer;
          .star-picture{
            position: absolute;
            stroke:$starNotActive;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 0.5s;

          }
          &:hover{
            .star-picture{
              stroke:$starActive;
            }
          }
          &.star_active{
            .star-picture{
              stroke:$starActive;
              fill: $starActive;
              opacity: 1;
            }
          }
        }

      }
      &.paint{
        background: $stringBck;
      }
    }
    .cell_estimation{
    border: 1px solid rgba(17, 34, 62, 0.2);
    text-align: center;
    padding: 10px 15px;
    position: sticky;
    left: 285px;
    background: #fff;
    z-index: 1;

    &.paint{
      background: $stringBck;
    }
    }
    .cell_value{
      position: relative;
      text-align: center;
      padding: 16.5px 5px;
      min-width: 43px;
      .cell__movement{
        position: absolute;
        display: none;
      }
      .cell__additionally{
        position: absolute;
        display: none;
      }
      &.cell_additionally-info{
        .cell__additionally{
          display: block;
          bottom: 4px;
          left: 0;
          right: 0;
          display: block;
          width: max-content;
          margin: 0 auto;
          padding: 2px 5px;
          color: $accentColor;
          background: $accentBcg;
          border-radius: 3px;
          font-size: 10px;
          line-height: 8px;
        }
      }
      &.cell_movement-info{
        .cell__movement{
          display: block;
          top: 5px;
          right: 2px;
          font-size: 10px;
          line-height: 7px;
          padding-left: 8px;
          &::before{
            position: absolute;
            content: '';
            left: 0;
            top: 2px;
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
          }
        }
      }
      &.cell_movement-up{
        .cell__movement{
          color: $green;

          &::before{
            border-bottom: 3px solid $green;
          }
        }

      }
      &.cell_movement-down{
        .cell__movement{
          color: $accentDown;
          &::before{
            border-top: 3px solid $accentDown;
          }
        }
      }

    }
    .cell_date{
      padding: 18px 0;
      text-align: center;
      position: relative;
      .cell__additionally{
        position: absolute;
        display: none;
      }
      &.cell_additionally-info{
        .cell__additionally{
          display: block;
          bottom: 4px;
          left: 0;
          right: 0;
          display: block;
          width: max-content;
          margin: 0 auto;
          padding: 2px 5px;
          color: $accentColor;
          background: $accentBcg;
          border-radius: 3px;
          font-size: 10px;
          line-height: 8px;
        }
      }

    }
    tbody{
      background: $white;
    }
    .dropdown{
      display: none;
      height: 52px;

      .string{


      }

      .cell_category,
      .cell_estimation,
      .cell_icon{
        padding: 0;
        border: none;
      }
      .cell_category{
        border-left: 1px solid rgba(17,34,62,0.2);
      }
      .cell_icon{
        position: relative;
        height: 51px;
        .icon-picture{
          position: absolute;
          height: 24px;
          width: 24px;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          border-radius: 6px;
          opacity: 0.3;
          transition: all 0.3s;
          cursor: pointer;

          &.icon-picture_focused{
            opacity: 1;
            transition: all 0.3s;
          }
        }
      }
      &.dropdown_visible{
        display: contents;
      }
    }
}
