$mainColor: #11223E;
$firstString: rgba(17, 34, 62, 0.3);
$accentBcg: rgba(116, 185, 38, 0.3);
$accentColor: #355B08;
$accentDown: #D0021B;
$accentUp: #355B08;
$starNotActive: #B8BDC6;
$starActive: #F5A623;
$checkboxDisabled: rgba(34, 62, 105, 0.1);
$checkboxActive: #BD2B7D;
$white: #fff;
$green: green;
$stringBck: #ddd;
